<nav class="navbar--nav">
  <a class="navbar--nav-link ripple" href="//murraychristopherson.com">
    <i class="mdi mdi-home"></i>
    <span class="hide-on-medium">Home</span>
  </a>
  <a class="navbar--nav-link ripple" href="{{@blog.url}}">
    <i class="mdi mdi-pound"></i>
    <span class="hide-on-medium">Blog</span>
  </a>
  {{#if @blog.twitter}}
  <a class="navbar--nav-link ripple" href="{{twitter_url}}">
    <i class="mdi mdi-twitter"></i>
    <span class="hide-on-medium">Twitter</span>
  </a>
  {{/if}}
  <a class="navbar--nav-link ripple" href="https://github.com/murrple-1">
    <i class="mdi mdi-github-circle"></i>
    <span class="hide-on-medium">Github</span>
  </a>
  {{navigation}}
</nav>
